<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
      contentType="text/html;charset=UTF-8">
<head th:fragment="header">
    <title ></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:include="header"></div>


<form th:action="@{/admin}">
    <span th:text="admin.sortby"></span>
    <select id="sortBy" name="sortBy">
        <option th:value="name" th:text="name" th:selected="${sortBy == 'name'}"></option>
        <option th:value="publisher" th:text="publisher" th:selected="${sortBy == 'publisher'}"></option>
        <option th:value="publishing_date" th:text="date" th:selected="${sortBy == 'publishing_date'}"></option>
    </select>

        <input type="text" id="searchBy" name="searchBy" th:value="${searchBy}" />
    <button type="submit" th:text="search"></button>
</form>



<table>
    <thead>
    <tr>
        <th th:text="#{book.name}"></th>
        <th th:text="#{book.publisher}"></th>
        <th th:text="#{book.date}"></th>
        <th th:text="#{book.quantity}"></th>
<!--        <th th:text="#{book.authors}"></th>-->

        <th th:text="#{action.edit_book}"></th>
    </tr>
    </thead>
    <tr th:each="book : ${books}">

        <td th:text="${book.name}"></td>
        <td th:text="${book.publisher}"></td>


        <td th:text="${book.publishingDate}"></td>
        <td th:text="${book.quantity}"></td>
<!--        <td th:text="${book.authors}"></td>-->

<!--        <td ><a th:href="@{'/admin/edit/{id}'(id=${book.id})}">edit</a></td>-->

<!--        "@{'/bus/edit/{code}'(code=${element.code})}"-->
        <td>
            <form th:action="@{/admin/edit}">
                <input type="number" id="newQuantity" name="newQuantity" th:value="${book.quantity}" />
                <input type="hidden" id="id" name="id" th:value="${book.id}">
<!--                <input type="hidden" id="size" name="size" th:value="${books.size}">-->
                <input type="hidden" id="currentPage" name="currentPage" th:value="${currentPage}">
                <input type="hidden" id="sortByBtn" name="sortByBtn" th:value="${sortBy}">
                <input type="hidden" id="searchByBtn" name="searchByBtn" th:value="${searchBy}">
                <button type="submit" th:text="change"></button>
            </form>
        </td>

    </tr>
</table>


<div class="pagination">
    <div th:if="${currentPage != 1}">
        <a class="page-link" th:href="@{/admin(size=${books.size}, currentPage=${currentPage - 1}, sortBy=${sortBy}, searchBy=${searchBy})}"> prev </a>
    </div>

    <ul class="pagination justify-content-center" th:if="${books.totalPages > 0}"
        th:each="pageNumber : ${pageNumbers}">
        <li class="page-item" th:classappend="${pageNumber==books.number + 1} ? 'active'">
            <a th:href="@{/admin(size=${books.size}, currentPage=${pageNumber}, sortBy=${sortBy}, searchBy=${searchBy})}"
               th:text=${pageNumber}
            ></a>
        </li>
    </ul>
    <div th:if="${currentPage < books.totalPages}">
        <a class="page-link" th:href="@{/admin(size=${books.size}, currentPage=${currentPage + 1}, sortBy=${sortBy}, searchBy=${searchBy})}"> next </a>
    </div>
</div>



<br><br><br>


<form th:action="@{/admin/addbook}", method="get">

    <div class="form-group">
        <label for="authorForm">Author</label>
        <input type="text" class="form-control" id="authorForm" name="authorForm" placeholder="Author">
    </div>
    <div class="form-group">
        <label for="bookNameForm">Book Name</label>
        <input type="text" class="form-control" id="bookNameForm" name="bookNameForm" placeholder="Book Name">
    </div>
    <div class="form-group">
        <label for="publisherForm">Publisher</label>
        <input type="text" class="form-control" id="publisherForm" name="publisherForm" placeholder="Publisher">
    </div>
    <div class="amountForm">
        <label for="authorForm">Amount</label>
        <input type="number" class="form-control" id="amountForm" name="amountForm" placeholder="Amount">
    </div>



    <button type="submit" class="btn btn-primary">Add book</button>
</form>

</body>
</html>