<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
      contentType="text/html;charset=UTF-8">
<head th:fragment="header">
    <title ></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>
<div th:include="header"></div>



<!--<form th:action="@{/admin}">-->
<!--<select th:field="*{sortBy}">-->
<!--    <option th:value="name" th:text="name" selected></option>-->
<!--    <option th:value="publisher" th:text="publisher"></option>-->
<!--    <option th:value="publishing_date" th:text="date"></option>-->
<!--</select>-->

<!--    <button id="id_btnReg" type="submit" name="sortBy" th:value="*{sortBy}"-->
<!--            th:text="find"></button>-->

<!--</form>-->
<form th:action="@{/admin}">
    <span th:text="admin.sortby"></span>
    <select id="sortBy" name="sortBy">
        <option th:value="name" th:text="name" th:selected="${sortBy == 'name'}"></option>
        <option th:value="publisher" th:text="publisher" th:selected="${sortBy == 'publisher'}"></option>
        <option th:value="publishing_date" th:text="date" th:selected="${sortBy == 'publishing_date'}"></option>
    </select>

        <input type="text" id="searchValue" name="searchValue"  />
    <button type="submit" th:text="search"></button>
</form>



<table>
    <thead>
    <tr>
        <th th:text="#{book.name}"></th>
        <th th:text="#{book.publisher}"></th>
        <th th:text="#{book.date}"></th>
        <th th:text="#{book.quantity}"></th>
<!--        <th th:text="#{book.authors}"></th>-->
        <th th:text="#{action.delete_book}"></th>
        <th th:text="#{action.edit_book}"></th>
    </tr>
    </thead>
    <tr th:each="book : ${books}">

        <td th:text="${book.name}"></td>
        <td th:text="${book.publisher}"></td>


        <td th:text="${book.publishingDate}"></td>
        <td th:text="${book.quantity}"></td>
<!--        <td th:text="${book.authors}"></td>-->

        <td ><a th:href="@{'/admin/delete/{id}'(id=${book.id})}">delete</a></td>
        <td ><a th:href="@{'/admin/edit/{id}'(id=${book.id})}">edit</a></td>

    </tr>
</table>


<div>
    <div th:if="${currentPage != 1}">
        <a class="page-link" th:href="@{/admin(size=${books.size}, page=${currentPage - 1}, sortBy=${sortBy}, searchValue=${searchValue})}"> << </a>
    </div>

    <ul th:if="${books.totalPages > 0}"
        th:each="pageNumber : ${pageNumbers}">
        <li th:classappend="${pageNumber==books.number + 1} ? 'active'">
            <a th:href="@{/admin(size=${books.size}, page=${pageNumber}, sortBy=${sortBy}, searchValue=${searchValue})}"
               th:text=${pageNumber}
            ></a>
        </li>
    </ul>
    <div th:if="${currentPage < books.totalPages}">
        <a class="page-link" th:href="@{/admin(size=${books.size}, page=${currentPage + 1}, sortBy=${sortBy}, searchValue=${searchValue})}"> >> </a>
    </div>
</div>

</body>
</html>