<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:fragment="header">
    <title th:text='#{title}'></title>
    <meta content="text/html; charset=UTF-8"/>
</head>
<body>
<nav>
        <ul >
            <li ><a  th:if="${session.role} != null" th:text="${session.role}"></a></li>

            <li ><a  href="/logout" th:if="${session.role} != null"
                                    th:text="#{menu.logout}"></a>
            <li >
                <a  href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{lang}">
                </a>
                <div  aria-labelledby="navbarDropdownMenuLink">
                    <a  href="?lang=ua">Українська</a>
                    <a  href="?lang=en">English</a>
                </div>
            </li>
        </ul>

</nav>

</body>
</html>