<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}"
      contentType="text/html;charset=UTF-8">
<head th:fragment="header">
    <title ></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>



</head>
<body>
<div th:include="header"></div>

<h1 align="center"  th:text='#{title}' ></h1>

<!--class="container"-->
<div align="center">



        <FORM method="POST" th:action="@{/login}">



            <div class="form-group">
                <label th:text="#{index.enter.login}"></label>
                <div >
                    <input name="login" type="login" size="35" th:placeholder="#{index.enter.login}" autocomplete="on" autofocus
                           required>
                </div>
            </div>
            <div class="form-group">
                <label  th:text="#{index.enter.password}"></label>
                <div >
                    <input name="password" type="password" th:placeholder="#{index.enter.password}" size="35" maxlength="35" required>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" name="btnLogin" th:text="enter"></button>
            <div><a href="registration" th:text="register"></a></div>
        </FORM>





</div>


</body>
</html>